body {
    --bg: white;
    --bgCode: #FAFBFC;
    --textNormal: #222;
    --textTitle: #222;
    --textSubTitle: rgb(173, 173, 173);
    --textLink: #0278ae;
    --hr: hsla(0, 0%, 0%, 0.2);
  
    background-color: var(--bg);
  }
  
  body.dark {
    -webkit-font-smoothing: antialiased;
  
    --bg: #07031a;
    --bgCode: #202020;
    --textNormal: rgba(255, 255, 255, 0.88);
    --textTitle: white;
    --textSubTitle: rgb(92, 92, 92);
    --textLink: #51adcf;
    --hr: hsla(0, 0%, 100%, 0.1);
  }